.custom-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.custom-table th,
.custom-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.custom-table th {
  background-color: #f5f5f5;
  text-align: left;
}

/* Pagination */
.pagination {
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

.pagination button {
  padding: 6px 12px;
  cursor: pointer;
}

.pagination button:disabled {
  cursor: not-allowed;
}

.pagination-count {
  margin: 0px 10px;
}

.pagination-center {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.no-data{
  text-align: center;
}
