body {
  font-family: "Poppins", sans-serif;
  margin: 20px;
}

.app-container {
  padding: 20px;
}

.page-container h2 {
  margin-bottom: 10px;
}

.nav-container {
  margin-bottom: 20px;
  display: flex;
  gap: 15px;
}

.nav-link {
  color: #007bff;
  text-decoration: none;
  font-weight: 500;
  cursor: pointer;
}

.nav-link:hover {
  text-decoration: underline;
}

.active-link {
  color: #999;
  pointer-events: none; /* disables clicking */
  text-decoration: none;
  font-weight: 600;
  cursor: default;
}
